.WelcomePage{
    background-color:tan
}
.WelcomePage h1{
    color: #CF6E52;
}

@media screen and (max-width: 500px){
    .wcimg{
        width:100%;
    }   
}

@media screen and (max-width:950px) and (min-width:541px){
    .wcimg{
        width: 110%;
    }
}
